@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.checkbox {
  display:none;
}
.nova-cor{
  color: black!important;
}

.label {
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  
  height: 26px;
  width: 50px;
  transform: scale(1.5);
  color: #07f33a;
  background-color: transparent;
  background-image: none;
  border-radius: 10px;
  border: 1.8px solid #07f33a;
  margin: 0px;
  

}
.text-white {
    color: #fff!important;
}


.label .ball {
  background-color: #04259e;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(22px);
}